.Filters {
  display: flex;
  justify-content: flex-end;
}
.Filters > * {
  margin-right: 1rem;
}

.Filters > * {
  margin-right: 1rem;
}

.Filters > :last-child {
  margin-right: 4px;
}

.LaunchPane {
  max-width: 800px;
  margin: 0 auto;
}
