.btn {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-primary {
  color: white;
  background-color: var(--primary-blue);
  box-shadow: 0 0 0 4px var(--primary-blue);
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 0 4px var(--primary-blue), 0 8px 8px var(--shadow-grey);
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 1px white, 0 0 0 4px var(--primary-blue),
    0 8px 8px var(--shadow-grey);
}

.btn::-moz-focus-inner {
  border: 0;
}

.btn:active {
  transform: scale(0.99);
}

.bullet {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
