.react-select .react-select__control {
  background-color: var(--primary-blue);
  border-radius: 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: transform 150ms ease;
}

.react-select .react-select__control:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 8px var(--shadow-grey);
}

.react-select .react-select__control--is-focused {
  outline: 1px solid #fff !important;
  outline-offset: -4px !important;
}

.react-select .react-select__placeholder {
  margin: 0;
}

.react-select .react-select__value-container {
  padding: 0;
}

.react-select .react-select__indicators {
  height: 32px;
}

.react-select .react-select__placeholder,
.react-select .react-select__single-value,
.react-select .react-select__indicator,
.react-select .react-select__indicator:hover {
  color: white;
}
