.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-grey);
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px var(--shadow-grey);
  margin-top: 0.6rem;
}

.flightNumber {
  text-emphasis: right;
  font-size: 2rem;
  padding: 1rem;
}

.missionName {
  flex-grow: 1;
  font-size: 1.7rem;
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 1rem;
}

.rocketName {
  font-weight: 900;
  font-size: 1.2rem;
}
