.App {
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 500px 1fr;
}

.Header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.Aside {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
}

.Content {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
}
