.App {
  display: grid;
  grid-template-rows: [header-start] 3rem [header-end content-start] 1fr [content-end];
  grid-template-columns: [aside-start] 500px [aside-end content-start] 1fr [content-end];
}

.Header {
  grid-row: header-start / header-end;
  grid-column: aside-start / main-end;
}

.Aside {
  grid-row: content-start / content-end;
  grid-column: aside-start / aside-end;
}

.Content {
  grid-row: content-start / content-end;
  grid-column: content-start / content-end;
}
